/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Castoro Titling', cursive;
}

body {
  min-height: 100vh;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url(Assests/bg2.jpg);
  background-size: cover;
  background-position: center;
}

.content {
  width: 100%;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  text-align: center;
  color: #d3c8c8;
}

.letsgo {
  border: 2px solid white;
  border-radius: 20px;
  padding: 0px 40px;
}

.letsgo:hover {
  background-color: rgb(163, 14, 14);
  color: white;
  cursor: pointer;
}

.underlined {
  width: 20%;
  height: 5px;
  background-color: red;
  text-align: center;
  margin: auto;
}

.underlined::afteR {
  content: '';
  background-color: red;
  width: 50px;
  height: 15px;
  display: block;
  transform: translateY(-5px);
  margin: auto;
}

nav .navbar {
  background: transparent;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  /* background: rgb(62, 142, 168); */
  background: transparent;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
  z-index: 99;
}

nav .navbar {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}

.navbar .logo a {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}

nav .navbar .links {
  display: flex;
}

nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
  position: absolute;
  top: 60px;
  left: 0;
  line-height: 40px;
  /* background: #3E8DA8; */
  background: transparent;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
.sub-sub-menu{
  position: absolute;
  top: 0px;
  left: 10;
  line-height: 40px;
  /* background: #3E8DA8; */
  background: transparent;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}

.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}

/* .navbar .links li .htmlCss-more-sub-menu {
  /* line-height: 40px; */
} */

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 80%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

.navbar .search-box {
  position: relative;
  height: 40px;
  width: 40px;
}

.navbar .search-box i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar .search-box .input-box {
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  /* background: #3E8DA8; */
  background: transparent;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.navbar.showInput .search-box .input-box {
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: transparent;
  /* background: #3E8DA8; */
}

.search-box .input-box::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  /* background: #3E8DA8; */
  background: transparent;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}

.search-box .input-box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}

.navbar .nav-links .sidebar-logo {
  display: none;
}

.navbar .bx-menu {
  display: none;
}

/* Sticky */
nav.sticky {
  padding: 0px 50px;
  background-color: rgba(0, 0, 0, 0.623);
}

nav ul li ::after {
  content: '';
  height: 3px;
  width: 0;
  position: absolute;
  left: 0;
  /* bottom: -10PX;*/
  transition: 0.5s;
}

nav ul li :hover::after {
  width: 100%;
}

.sticky .navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.623);

}

nav.sticky .logo,
nav.sticky ul li a {
  color: white;
}

.navbardropdown {
  background-color: #000;
}










/* sticky */
#background {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), url(assests/background.jpg));
}

/*** Footer ***/
.footer {
  background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url(../img/carousel-bg-1.jpg) center center no-repeat;
  background-size: cover;
}

.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid #FFFFFF;
  border-radius: 35px;
  transition: .3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.navbar {
  background: #000;
}

@media (max-width:920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a {
    font-size: 27px;
  }

  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }

  nav .navbar .links li a {
    font-size: 15px;
  }
}

@media (max-width:800px) {
  nav {
    /* position: relative; */
  }

  .navbar .bx-menu {
    display: block;
  }

  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: black;
    color: white;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }

  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar-logo .logo-name {
    font-size: 25px;
    color: #fff;
  }

  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: #fff;
  }

  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }

  nav .navbar .links li .arrow {
    line-height: 40px;
  }

  nav .navbar .links li {
    display: block;
  }

  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }

  nav .navbar .links li .sub-menu li {
    border-bottom: none;

  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }

  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }

  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }

  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }

  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }

  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }

  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}

@media (max-width:370px) {
  nav .navbar .nav-links {
    max-width: 100%;
  }
}

#hover:hover {
  color: red;
}

#red:hover {
  color: red;
}

/* nav end */

/* Team Section
--------------------------------*/
#team {
  background: #fff;
  padding: 80px 0 60px 0;
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
  border-radius: 20px;
}

#team .member .pic {
  border-radius: 20px;
  margin-bottom: 15px;
  overflow: hidden;
  /* height: 250px; */
}

#team .member .pic:hover {
  border: 5px double red;
}

#team .member .pic img {
  max-width: 100%;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  color: #b3b3b3;
}

#team .member .social a:hover {
  color: red;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

#backclr {
  background-color: rgba(240, 235, 235, 0.767);
}












@media only screen and (max-width: 1057px) {
  .navbar .logo a {
    font-size: 18px;
  }
  nav .navbar .links li a {
    font-size: 14px;
    /* font-weight: 500; */
  }
}
@media only screen and (max-width: 976px) {
  .navbar .logo a {
    font-size: 18px;
  }
  nav .navbar .links li a {
    font-size: 13px;
    /* font-weight: 500; */
  }
}
@media only screen and (max-width: 942px) {
  .navbar .logo a {
    font-size: 18px;
  }
  nav .navbar .links li a {
    font-size: 13px;
    /* font-weight: 500; */
  }
  nav .navbar .links li {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 922px) {
  .navbar .logo a {
    font-size: 16px;
  }
  nav .navbar .links li a {
    font-size: 10px;
    /* font-weight: 500; */
  }
  nav .navbar .links li {
    padding: 0 8px;
  }
}
@media only screen and (max-width: 918px) {
  .navbar .logo a {
    font-size: 13px;
  }
  nav .navbar .links li a {
    font-size: 11px;
    /* font-weight: 500; */
  }
  nav .navbar .links li {
    padding: 0 8px;
  }
}
@media only screen and (max-width: 915px) {
  .navbar .logo a {
    font-size: 13px;
  }
  nav .navbar .links li a {
    font-size: 11px;
    /* font-weight: 500; */
  }
  nav .navbar .links li {
    padding: 0 8px;
  }
}




.fa-key{
  font-size: 72px;
}

/* @media only screen and (max-width: 600px) {
  .footer .btn.btn-link {
   
    text-align: center;
   
  }
} */